html, body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,PingFang SC,Noto Sans,Noto Sans CJK SC,Microsoft YaHei,\\5FAE\8F6F\96C5\9ED1,sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	height: 100%;
	background: #FFFFFF;
	box-sizing: border-box;
}
a:hover{
	color: rgba(47,50,57,0.9) !important;
	text-decoration: none;
}
.wrap{
	min-height: 100%;
}
/** 公用侧边栏部分 **/
.wrap aside{
	position: fixed;
	background: rgba(47,50,57,0.9);
	width: 270px;
	height: 100%;
}
.wrap aside .aside-container{
	height: 100%;
	position: relative;
}
.wrap aside .aside-container .profile{
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	width: 100%;
	text-align: center;
}
.wrap aside .aside-container .profile .avatar{
	width: 100%;
	
}
.wrap aside .aside-container .profile .avatar img{
	width: 160px;
	height: 160px;
	border-radius: 50%;
}
.wrap aside .aside-container .profile .name{
	color: #fff;
	margin-top: 20px;
}
.wrap aside .aside-container footer{
	position: absolute;
	bottom: 15px;
	text-align: center;
	width: 100%;
}
.wrap aside .aside-container footer p{
	line-height: 20px;
	color: #ffffff;
	font-weight: 600;
}

/** 正文内容部分 **/
.wrap .mid-col{
	position: absolute;
	left: 0;
	right: 0;
	min-height: 100%;
	margin-left: 270px;
}
.wrap .mid-col .mid-col-container{
	padding: 20px 50px;
}

/** 文章列表 **/
.wrap .mid-col .mid-col-container article{
	padding: 15px 0;
	border-bottom: 1px dashed #ddd;
	position: relative;
}
.wrap .mid-col .mid-col-container article h1{
	font-weight: 400;
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 0;
}


/** 文章详细内容 **/
.wrap .mid-col .mid-col-container .post-detail{
	position: relative;
}
.wrap .mid-col .mid-col-container .post-detail .content{
	font-size: 16px;
	line-height: 1.8;
}
.wrap .mid-col .mid-col-container .post-detail h1{
	font-weight: 600;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #ccc;
	padding-bottom: 10px;
}

/** 正文公用css **/
.wrap .mid-col .mid-col-container .meta{
	position: absolute;
	right: 0;
	font-size: 14px;
	line-height: 30px;
}





