<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Tracy.Cui的个人小站</title>

    <!-- <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="wrap">
    <aside>
        {% include aside.html %}
    </aside>
    <div class="mid-col">
        <div class="mid-col-container">
            {{content}}
        </div>
    </div>
</div>

</body>
</html>